{% extends 'security.html.twig' %}

{% block title %}Connexion{% endblock %}


{% block body %}
<div class="login">
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                Vous êtes connécté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
            </div>
        {% endif %}

        <h1 class="h3 mb-3 font-weight-normal">Connectez-vous</h1>
        <label for="inputUsername">Hopital</label>
        <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="Hopital" required autofocus>
        <label for="inputPassword">Mots de passe</label>
        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

        <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}"
        >

        {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
        #}

        <button class="btn btn-primary" type="submit">
            Se connecter
        </button>
        <a href="{{'/register'}}">
            <button class="btn btn-success" type="button">
                Créer un compte
            </button>
        </a>
    </form>
</div>
{% endblock %}
