<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href="{{ asset('node_modules/bootstrap/dist/css/bootstrap.min.css') }}">
    <script src="{{ asset('node_modules/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <title>Note</title>
</head>
<body>   
    {% for note in notes %}
        <table class="table">
            <tr>
                <td>{{ note }} </td>
            </tr>
        </table>
    {% endfor %}

        <div class="alert alert-info">
            <p>Nombre de notes : {{ notes | length}} </p>
            <p>Note minimale : {{ min(notes) }} </p>
            <p>Note maximale : {{ max(notes) }} </p>
        </div>
</body>
</html>
