<!doctype html>
<html>
    <head>
        <meta charset = "utf-8">
        <title>
       Affichage
        </title>
        <link rel='stylesheet' href="{{ asset('node_modules/bootstrap/dist/css/bootstrap.min.css') }}">
        <script src="{{ asset('node_modules/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    </head>
    <body>
        <h1>Calcul Trimestriel</h1>

        <table border = "1" >
        <tr>
            <th>Mois</th>
            <th>RPE</th>
        </tr>

{% set trimestreCounter = 0 %}
        {% for trim in trimestre %}
            <tr>
                <td>{{ trim.getMois() }}</td>
                <td>
                    {% if (trim.getMois() % 4 == 0) %}
                        {{ rpeParTrimestre['trimestre' ~ (trimestreCounter + 1)] }}
                        {% set trimestreCounter = trimestreCounter + 1 %}
                    {% else %}
                        {{ trim.getRPEInstructionPermanent() }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}      
        
        </table>
    </body>
</html>